.contents{
  height: 100vh;
  background-color: bisque;
  background-image: url(dots.svg) ,url(校舎背景.jpeg); 
  background-size: 10px 10px,cover;
  background-blend-mode: multiply;
  height: 100vh;
  -webkit-clip-path: polygon(0 0,100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 0,100% 0, 100% 90%, 0 100%);
  animation-duration: 4.8s;
  animation: bg-color 24s infinite;
  animation-fill-mode: forwards;
  scroll-snap-align: center;
  position: relative;
}

.contents::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient( 109.6deg,  rgba(247,253,166,1) 11.2%, rgba(128,255,221,1) 57.8%, rgba(255,128,249,1) 85.9% );
  top: 0;
  right: 0;
  animation: slidein 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  animation-timing-function: ease-out;
}

.contents::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: darkgray;
  top: 0;
  right: 0;
  animation: slidein 1s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  animation-timing-function: ease-out;
}

@keyframes slidein {
  0%{
    width: 100%;
  }
  100%{
    width: 0%;
  }
}


.circle{
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  position: absolute;
  top: -20%;
  width: 300px;
  height: 300px;
  left: calc((100vw - 300px)/2);
}

.titlebox{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-content{
  align-items: center;
}

.title{
  font-family: impact, sans-serif;
  font-size: 60px;
  color: white;
  border-radius: 25%;
  width: 700px;
  text-align: center;
}

.main{
  width: 100vw;
}

.sikisi-wrapper{
  padding: 0 2rem 2rem 2rem;
}

.sikisi{
  border: double #32a1ce thick;
}

.row{
  padding: 1.5rem 0.5rem 0.5rem;
  display: flex;
  justify-content: space-between;
}

.row1{
  padding: 0.5rem 3rem;
  display: flex;
  justify-content: space-around;
}

.row2{
  padding: 0.5rem 3rem;
  display: flex;
  justify-content: space-between;
}

.one{
  height: 100%;
  font-size: 30px;
  color: black;
  background-color: burlywood;
}

.subtitle{
  padding: 1rem 3rem 2rem 3rem;
  text-align: center;
}
.yose{
  font-family: 'Kaisei Tokumin', serif;
  font-size: 46px; 
  position: relative;
  display: inline-block;
}

.ribbon2 {
  display: inline-block;
  position: relative;
  height: 80px;
  line-height: 60px;
  text-align: center;
  padding: 7px 0;
  background: #78d0f5;/*背景色*/
  color: #FFF;/*文字色*/
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ribbon2 h3 {
  margin: 0;
  padding: 0 30px;
  border-top: dashed 1px #FFF;/*上の破線*/
  border-bottom: dashed 1px #FFF;/*下の破線*/
  line-height: 46px;
}

.ribbon2:before, .ribbon2:after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  z-index: 1;
}

.ribbon2:before {
  /*左端の山形*/
  top: 0;
  left: 0;
  border-width: 40px 0px 40px 15px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
}

.ribbon2:after {
  /*右端の山形*/
  top: 0;
  right: 0;
  border-width: 40px 15px 40px 0px;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
}

/*
.yose::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient( 109.6deg,  rgba(247,253,166,1) 11.2%, rgba(128,255,221,1) 57.8%, rgba(255,128,249,1) 85.9% );
  top: 0;
  right: 0;
}*/

/*oneの中身*/

.one{
  border-radius: 30% 40% 59% 30%/40%;
  text-align: center;
  color: black;
  width: 100%;
}

.one-ren{
  width: 220px;
}

.one-wrapper{
  padding: 0.8rem 1.2rem 1.2rem 1.2rem;
}

.pad-cir{
  padding: 0 0 0 0;
}

.who{
  display: flex;
  text-align: center;
}

.who-img{
  border-radius: 50%;
  object-fit: cover;
  width: 50px;
  height: 50px;
}

.name{
  font-family: 'Noto Serif JP', serif;
  font-size: 15px;
  margin-left: 10px;
  line-height: 50px;
}

.message-contents{
  font-size: 13px;
  font-family: 'Zen Kurenaido', sans-serif;
  margin-top: 10px;
}

.footer{
  height: 140px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: dimgray;
}

.footer-content{
  padding-top: 20px;
  color: #FFF;
  font-family: 'Zen Kurenaido', sans-serif;
  font-size: 20px;
  text-align: center;
  background-color: dimgray;
}

.maker{
  color: #FFF;
  text-align: center;
  font-family: 'Zen Kurenaido', sans-serif;
  font-size: 15px;
  background-color: rgb(37, 37, 37);
  height: 40px;
  padding-top: 20px;
}

.footer p{
  text-align: center;
}